<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magneto.mapper.EmpMapper">

    <!--雇员登陆-->
    <select id="login" parameterType="emp" resultType="emp">
      select * from emp where eid = #{eid} and password = #{password}
    </select>

    <!--查询全部雇员信息-->
    <select id="selectAll" resultType="com.magneto.pojo.Emp">
      select * from emp
    </select>

    <select id="toEdit" resultType="com.magneto.pojo.Emp">
      select * from emp where eid = #{id}
    </select>


    <update id="doEdit" parameterType="emp">
      update emp set name = #{name},password = #{password} ,phone=#{phone} ,aflag=#{aflag} ,salary=#{salary} ,note=#{note} where eid = #{eid}
    </update>


    <select id="toAdd" resultType="int">
        select max(eid) from emp
    </select>

    <insert id="doAdd" parameterType="emp">
      insert into emp(eid,lid,name,password,phone,salary,note) values (#{eid},#{lid},#{name},#{password},#{phone},#{salary},#{note})
    </insert>

</mapper>